html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    margin-bottom: 1em;
    list-style: disc;
    margin-left: 1.5em;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding-bottom: -5px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #336699;
    text-decoration: none;
}

a:hover {
    border-bottom: 2px solid;
}

@media (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-template-rows: min-content auto min-content;
    }
}

main {
    flex: 1;
    padding: 20px;
    color: #445;
}

.content {
    max-width: 760px;
    margin: auto;
}

header {
    background: #e9ebed;
    padding: 45px 20px;
    overflow:hidden;
}

footer {
    padding: 2px;
    text-align: center;
    font-size: 0.7em;
    color: #222;
}

h1 {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
}

.description {
    font-size: 18px;
    color: #555;
}

.header-link {
    float: right;
}

h2 {
    margin-bottom: 1em;
    font-size: 19px;
    font-weight: bold;
}

h3 {
    margin-bottom: 1em;
    font-size: 17px;
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

nav {
    color: #eee;
    background-color: #303538;
    grid-row: span 3;
}

.menu {
    font-weight: 700;
}

.menu a {
    color: inherit;
    display: block;
    padding: 5px 10px;
}

.menu a:hover {
    border-bottom: none;
}

ul.menu {
    margin-left:0;
    list-style: none;
}

ul.submenu {
    margin-left: 15px;
    list-style: none;
    margin-bottom: 0;
}

ul.menu li {
}

ul.menu li.active {
    background-color: #576;
}

ul.menu li:hover {
    background-color: #222;
}

.logo {
    font-family: 'VT323', monospace;
    font-size: 3em;
    text-decoration: none;
    color: #eee;
    width: 100%;
    text-align: center;
    margin: 70px auto;
    border-bottom: none;
    display:block;
}

.logo:hover {
    border-bottom: none;
}

code {
    padding:2px;
    font-family: 'Space Mono', monospace;
    color: #996666;
}

strong {
    font-weight: 700;
}
