# top-most EditorConfig file
root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[*.{go,gotpl}]
indent_style = tab

# Ignore yaml https://learn.microsoft.com/en-us/visualstudio/code-quality/use-roslyn-analyzers?view=vs-2022
[*.{yaml,yml,yml.j2,yaml.j2}]
generated_code = true
# charset = unset
# end_of_line = unset
# insert_final_newline = unset
# trim_trailing_whitespace = unset
# indent_style = unset
# indent_size = unset

# These often end up with go code inside, so lets keep tabs
[*.{html,md}]
indent_size = 2
indent_style = tab
