name: Format and Generate
on:
  push:
    branches:
    - master
  pull_request:
    types: [opened, synchronize]
env:
  GOTOOLCHAIN: local
# When a new revision is pushed to a PR, cancel all in-progress CI runs for that
# PR. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  fmt-and-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      with:
        persist-credentials: "false"
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
      with:
        go-version: ${{ matrix.go }}
    - run: go mod download
    - run: .github/workflows/check-fmt
    - run: .github/workflows/check-generate
