name: Integration
on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, synchronize ]
# When a new revision is pushed to a PR, cancel all in-progress CI runs for that
# PR. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  integration:
    strategy:
      matrix:
        go: ["1.21", "1.22"]
        node: [18]
    runs-on: ubuntu-latest
    timeout-minutes: 3
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: go mod download
      - run: cd integration ; npm ci
      - run: .github/workflows/check-integration

  federation:
    strategy:
      matrix:
        go: ["1.21", "1.22"]
        node: [18]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}
      - run: go mod download
      - run: cd _examples/federation ; npm install
      - run: .github/workflows/check-federation

  init:
    strategy:
      matrix:
        go: ["1.21", "1.22"]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: ${{ matrix.go }}
      - run: .github/workflows/check-init
