name: Integration
on:
  push:
    branches:
    - master
  pull_request:
    types: [opened, synchronize]
env:
  GOTOOLCHAIN: local
# When a new revision is pushed to a PR, cancel all in-progress CI runs for that
# PR. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  integration:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        go: ["1.24", "1.25"]
        node: [22]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      with:
        persist-credentials: "false"
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: ${{ matrix.go }}
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v5
      with:
        node-version: ${{ matrix.node }}
    - run: go mod download
    - run: cd integration ; npm ci
    - run: .github/workflows/check-integration
  federation:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        go: ["1.24", "1.25"]
        node: [22]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      with:
        persist-credentials: "false"
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: ${{ matrix.go }}
    - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v5
      with:
        node-version: ${{ matrix.node }}
    - run: go mod download
    - run: cd _examples/federation ; npm install
    - run: .github/workflows/check-federation
  init:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      with:
        persist-credentials: "false"
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: ${{ matrix.go }}
    - run: .github/workflows/check-init
