name: Lint
on:
  push:
    branches:
    - master
  pull_request:
    types: [opened, synchronize]
# When a new revision is pushed to a PR, cancel all in-progress CI runs for that
# PR. See https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  GOTOOLCHAIN: local
  GOFLAGS: "-trimpath"
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    env:
      GOLANGCI_LINT_VERSION: latest
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v5
      with:
        persist-credentials: "false"
    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: ${{ matrix.go }}
    - name: golangci-lint
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
    - name: golangci-lint examples
      uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
      with:
        version: ${{ env.GOLANGCI_LINT_VERSION }}
        working-directory: _examples
