name: test report
on:
  workflow_run:
    workflows: ["Test"]
    types:
    - completed
permissions:
  checks: write
jobs:
  checks:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Download Test Report
      uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
      with:
        name: junit-test-results
        workflow: ${{ github.event.workflow.id }}
        run_id: ${{ github.event.workflow_run.id }}
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@e08919a3b1fb83a78393dfb775a9c37f17d8eea6 # v5
      with:
        commit: ${{github.event.workflow_run.head_sha}}
        report_paths: '**/*.xml'
