name: test report
on:
  workflow_run:
    workflows: ["Test"]
    types:
    - completed
permissions:
  checks: write
jobs:
  checks:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: read
      pull-requests: write
    steps:
    - name: Download Test Report
      uses: dawidd6/action-download-artifact@0bd50d53a6d7fb5cb921e607957e9cc12b4ce392 # v12
      with:
        name: junit-test-results
        workflow: ${{ github.event.workflow.id }}
        run_id: ${{ github.event.workflow_run.id }}
    - name: Publish Test Report
      uses: mikepenz/action-junit-report@a294a61c909bd8a4b563024a2faa28897fd53ebc # v5
      with:
        commit: ${{github.event.workflow_run.head_sha}}
        report_paths: '**/*.xml'
